[submodule "my-site/themes/monopriv"]
	path = my-site/themes/monopriv
	url = https://gitlab.com/kskarthik/monopriv.git
[submodule "my-site/monopriv"]
	path = my-site/monopriv
	url = https://gitlab.com/kskarthik/monopriv.git
